@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata
@using Microsoft.Framework.DependencyInjection
@using SortOn = ContosoUniversity.Features.Student.Index.SortOn
@model ContosoUniversity.Features.Student.Index.QueryResponse
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="GET">
    <p>
        Find by name: <input asp-for="SearchString"/>
        <input type="hidden" id="Page" name="Page" value="1" />
        <input type="submit" value="Search"/>
    </p>
</form>
<table class="table">
    <tr>
        <th>
            <a asp-route-searchstring="@Model.SearchString" asp-route-sorton="@SortOn.LastName" asp-route-sortascending="@(Model.CurrentSort != SortOn.LastName || !Model.SortAscending)">Last Name</a>
        </th>
        <th>
            <a asp-route-searchstring="@Model.SearchString" asp-route-sorton="@SortOn.FirstName" asp-route-sortascending="@(Model.CurrentSort != SortOn.FirstName || !Model.SortAscending)">First Name</a>
        </th>
        <th>
            <a asp-route-searchstring="@Model.SearchString" asp-route-sorton="@SortOn.EnrollmentDate" asp-route-sortascending="@(Model.CurrentSort != SortOn.EnrollmentDate || !Model.SortAscending)">Enrollment Date</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Results)
    {
        <tr>
            <td>
                @item.LastName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.EnrollmentDate?.ToString("d")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>
<br/>
<hr/>
@if (Model.Results.Any())
{
    <nav>
        <ul class="pagination">
            @if (Model.Page <= 1)
            {
                <li class="disabled"><a href="#">&laquo;</a></li>
            }
            else
            {
                <li><a asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-searchstring="@Model.SearchString">&laquo;</a></li>
            }
            @for (var i = 0; i < Model.PageCount; i++)
            {
                if (Model.Page == (i + 1))
                {
                    <li class="active"><a asp-action="Index" asp-route-page="@(i + 1)" asp-route-searchstring="@Model.SearchString">@(i + 1)</a></li>
                }
                else
                {
                    <li ><a asp-action="Index" asp-route-page="@(i + 1)" asp-route-searchstring="@Model.SearchString">@(i + 1)</a></li>
                }
            }
            @if (Model.Page >= Model.PageCount)
            {
                <li class="disabled"><a href="#">&raquo;</a></li>
            }
            else
            {
                <li><a asp-action="Index" asp-route-page="@(Model.Page + 1)" asp-route-searchstring="@Model.SearchString">&raquo;</a></li>
            }
        </ul>
    </nav>
}
