@model  ContosoUniversity.Features.Instructor.Index.QueryResponse

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<p>
    <a href="">Create New</a>
</p>
<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Hire Date</th>
        <th>Office</th>
        <th>Courses</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Instructors)
    {
        string selectedRow = "";
        if (item.Id == Model.InstructorId)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @item.LastName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.HireDate
            </td>
            <td>
                @item.OfficeAssignmentLocation
            </td>
            <td>
                @{
                    foreach (var course in item.Courses)
                    {
                        @course.CourseNumber @:  @course.CourseTitle<br />
                    }
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.Id == Model.CourseId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    <a asp-action="Index" asp-route-id="@Model.InstructorId" asp-route-courseid="@item.Id">Select</a>
                </td>
                <td>
                    @item.Number
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.DepartmentName
                </td>
            </tr>
        }

    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>

        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.StudentFullName
                </td>
                <td>
                    @item.Grade
                </td>
            </tr>
        }
    </table>
}